/* Don't panic, Mermaid scopes all styles to the parent SVG ID */

* {
  --font-family: Roboto, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial,
    sans-serif;
  --font-size: 14px;

  /* https://github.com/mermaid-js/mermaid/blob/8.11.5/src/diagrams/er/erRenderer.js#L405-L406 */
  --mermaid-er-label-fill: rgba(255, 255, 255, 0.85);

  /* https://github.com/seek-oss/braid-design-system/blob/v30.4.0/lib/color/palette.ts */
  --braid-grey-50: #f6f8fa;
  --braid-grey-100: #e8ecf0;
  --braid-grey-300: #abb3c1;
  --braid-grey-500: #5b6881;
  --braid-yellow-100: #fef8de;
  --braid-yellow-500: #fdc222;
}

/* shared */

body,
text {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/* er */

path.er.entityBox {
  fill: var(--braid-grey-50);
  stroke: var(--braid-grey-100);
}

path.er.relationshipLabelBox {
  fill: var(--mermaid-er-label-fill);
}

path.er.relationshipLine {
  stroke: var(--braid-grey-500);
}

/* flowchart v2 */

/* subgraphs */
g.cluster path,
g.cluster rect {
  fill: none;
  stroke: var(--braid-grey-300);
}

.edge-thickness-normal {
  stroke-width: 1px;
}

g.cluster div,
g.edgeLabel foreignObject,
g.edgeLabel span.edgeLabel,
g.label div,
g.node div,
g.node span.nodeLabel {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.edgeLabel div {
  background-color: var(--mermaid-er-label-fill);
}

.edgeLabel span.edgeLabel {
  background-color: transparent;
}

circle.label-container,
.node path,
.node polygon,
.node rect {
  fill: var(--braid-grey-50);
  stroke: var(--braid-grey-100);
}

.node div {
  text-align: center;
}

.label div,
.nodeLabel {
  display: block;
  white-space: nowrap;
}

.edgePath path.path,
.edgePaths path.transition {
  fill: none;
  stroke: var(--braid-grey-500);
}

.edgePath marker path.arrowheadPath,
path.arrowMarkerPath {
  fill: var(--braid-grey-500);
}

/* sequence */

text.actor,
text.messageText {
  font-family: var(--font-family);
  font-size: var(--font-size);
  stroke: none;
  text-anchor: middle;
}

rect.actor {
  fill: var(--braid-grey-50);

  stroke: var(--braid-grey-100);
}

text.sequenceNumber {
  fill: var(--braid-grey-50);

  font-size: 12px;
}

path.labelBox {
  fill: var(--braid-yellow-100);
}

path.labelBox,
path.loopLine {
  stroke: var(--braid-yellow-500);
  stroke-dasharray: none;
}

path.actor-line,
path.messageLine0,
path.path {
  fill: none;
  stroke: var(--braid-grey-500);
}

#arrowhead > path,
#crosshead > path,
#sequencenumber {
  fill: var(--braid-grey-500);
  stroke: none;
}

path.actor-line {
  stroke-dasharray: 4;
}

rect.activation0 {
  fill: var(--braid-grey-100);
  stroke: var(--braid-grey-300);
}

rect.note {
  fill: var(--braid-yellow-100);
  stroke: var(--braid-yellow-500);
}
