name: Validate

on:
  - pull_request
  - push

permissions: {}

jobs:
  validate:
    name: Lint & Test
    permissions:
      checks: write
    runs-on: ubuntu-latest
    env:
      SKU_TELEMETRY: false
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Set up pnpm
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm test:ci

      - name: Lint
        run: pnpm lint

      - name: Build Storybook (dry run for release)
        run: pnpm storybook:build

      - name: Loki snapshots
        run: pnpm loki:test:ci

      - name: Upload Loki artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: loki-snapshots
          include-hidden-files: true
          path: .loki
